.Top-header {
    display: grid;
    grid-auto-flow: column;
    height: 82px;
    max-height: 82px;
    overflow: hidden;
    justify-content: space-between;
}

.Header-title {
    margin: auto;
}

.Button-group {
    height: 20px;
    margin: auto;
}

.Button-filter {
    color: black!important;
    border-color: black!important;
}

.Avatar-wrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: auto;
}
p {
    margin: auto;
}

.Top-header-theme-button {
    width: 42px;
    min-width: 42px!important;
    height: 42px!important;
    border-radius: 12px!important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: auto!important;
}