.App-header {
    display: grid;
    width: 82px;
    height: 100vh;
    background-color: white;
    position: relative;
}
.main {
    margin-top: 72px;
    display: grid;
    gap: 16px;
    grid-auto-flow: row;
    align-items: center;
    text-align: center;
    height: fit-content;
}

.option {
    display: grid;
    position: absolute;
    text-align: center;
    bottom: 40px;
    width: 100%;
    gap: 8px;
}

.header-link {
    padding: 16px;
    color: #e5e5e5;
}
.active {
    background-color: #f8f9fb;
    color: black;
}