.App {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 82px 1fr;
}

#root {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 82px 1fr;
  background-color: #f8f9fb;
  gap: 16px;
}